<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta http-equiv="refresh" content="10"> -->
    <title>Smart Traffic of Connected Cars</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $.ajaxSetup({
            cache: false
        });
        $(document).ready(function(){
        $("#refresh").click(function(){
            var frame = document.getElementById("Manhattan_map");
            frame.src = frame.src;
        });
        });
    </script>
</head>
<style>
    h1 {text-align: center;}
    form {text-align: center;}
    iframe {text-align: center;
            position: relative;}
    div{text-align:center;}
</style>
<body>  
    <h1>Smart Traffic of Connected Car Server 🌏</h1>

    <!-- <form action="/" method="post">
        <label for="input_date">Pick A Date :</label>
        <input type="date" id="inputDate" name="inputDate" value="2019-01-01"><br>
        <label for="input_time">Pick A Time :</label>
        <input type="time" id = "inputTime" name="inputTime" value="00:00:00" step="900"><br>
        <input type="submit" value="Confirm!"/>
    </form>
    <div><button id="refresh">Refresh!</button></div>

    <p align="center"><iframe class="map" id="Manhattan_map" src="/map" width="640" height="640">
    </iframe></p> -->
    <div class="navbar-collapse collapse">
        {% if user == None %}
        <form class="navbar-form navbar-right" action="/index" method="post">
          <div class="form-group">
            <input type="text" name="username" placeholder="i.e. John" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Log In</button>
        </form>
        {% else %}
          {% if user != "" %}
              <p class="logout" style="display:inline;color:black;padding-right:5px"> Hi {{user}},  </p>
              <a href="/logout" class="logout"> Logout? </a>
          {% endif %}
        {% endif %}
      </div><!--/.navbar-collapse -->

      <div>
        {% block content %}{% endblock %}
      </div>
      <!-- user {{user}}<br>
      carId {{carId}} -->
      {% if carId == user %}
        <p align="center"><iframe class="map" id="Manhattan_map_ori" src="/map_ori" width="640" height="640"></iframe></p>
      {% else %}
        <p align="center"><iframe class="map" id="Manhattan_map" src="/map={{carId}}" width="640" height="640"></iframe></p> 
      {% endif %}
</body>
</html>